.jumbocontactsecond {
  background-image: url(../../images/grass-green-golf-golf-ball-54122.jpg);
  background-size: cover;
  height: 80vh;
  margin-top: -100px;
  background-position: center;
}





