nav {
    height: 100px;
   
   background-color: rgba(226, 226, 226, 0.9);
   width: 100vw;
   position: absolute ;
}

.eaglecafe {
    font-family: 'Damion', cursive;
  
    margin-top: -23px;
    
   
    justify-content: center;
  
      font-size: 70px;
      color: black;
      
      
      text-align: center;
      /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  }
  
.navtext {
    font-family: 'Muli', sans-serif;
    margin-top: -23px;
    
   
    justify-content: center;
  
      font-size: 40px;
      color: black;
      
      
      text-align: center;
      /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  }
  

  .sticky-nav {
    position: sticky;
    top: 0;
  }

  .navhover:hover {
    color: darkslategray;
    text-decoration: none;
  }