nav {
    height: 115px;
    margin-bottom: 120px;
   background-color: rgba(100, 117, 110, 0.8);
   width: 100vw;
}

.eaglecafe {
    font-family: 'Damion', cursive;
  
    margin-top: -13px;
    
   
    justify-content: center;
  
      font-size: 70px;
      color: black;
      
      
      text-align: center;
      /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  }
  
.navtext {
    font-family: 'Muli', sans-serif;
    margin-top: -13px;
    
   
    justify-content: center;
  
      font-size: 40px;
      color: black;
      
      
      text-align: center;
      /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  }
  