footer {
    height: 115px;
    margin-top: 0px;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100vw; 
    background-color:rgba(226, 226, 226, 0.9);
    font-family: 'Play', sans-serif;
}

#rlt {
    color: black;
}

#rlt:hover {
    color: darkslategray;
    text-decoration: none;
}
